#contents {
  min-width: 100%;
  min-height: 1000px;
  margin-top: -20px;
  justify-content: center;
  background-color: white;
  /*font-family: 'VT323', monospace;*/
}

#hitpointsContain{
  width: 200px;
  height: 150px;
  outline: #000000 solid thick;
  text-align: center;
  justify-content: center;
  padding: 15px 0;
}

#statsContain{
  width: 100%;
  height: 300px;
  outline: #000000 solid thick;
  text-align: center;
  justify-content: center;
  padding: 6px 0;

}

#babContain{
  width: 100%;
  height: 300px;
  outline: #000000 solid thick;
  text-align: center;
  justify-content: center;
  padding: 6px 0;

}

#weaponsContain{
  width: 100%;
  outline: #000000 solid thick;

}

#armorContain{
  width:100%;
  outline: #000000 solid thick;
}

.largeText{
  font-size:large;
}

.normalText{
  font-size: small;
}

.center{
  text-align: center;
}

.outline{
  outline: #000000 solid thick;
}

.bonus{
  width:35px;
}

.hitpoints{
  width:60px;
}

.justifyCenter{
  justify-content: center;
}

.editBtn{
  width:inherit;
}

.title{
  font-family: 'Press Start 2P', cursive;
}
