#welcomeBackground {
  min-width: 100%;
  min-height: 1000px;
  margin-top: -20px;
  justify-content: center;
  background-image: url(https://i.pinimg.com/originals/00/c8/20/00c820c6b970c8686226af63d680d3bc.png);
}


.container {
  margin: auto;
}
.h1container {
  width: 50%;
  margin: 0 auto;
  color: white;
  font-family: 'Press Start 2P', cursive;

}

.buttonContain {
  width: 50%;
  margin: 0 auto;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: small;

}
